.mailerlite-activate {
    background: #FFF;
    max-width: 750px;
    padding: 30px;
    border-radius: 5px;
}

.mailerlite-activate .description-block {
    float: left;
}

.mailerlite-activate .description-block .title {
    font-size: 16px;
    font-weight: bold;
}

.mailerlite-activate .input-block {
    float: right;
    padding-top: 25px;
}

.mailerlite-empty-list {
    padding: 30px;
}

.mailerlite-text-center {
    text-align: center;
}

.mailerlite-pull-right {
    float: right;
}

.mailerlite-header {
    height: 100px;
    background: url('../image/header.png');
    margin: 0px 0px 20px -20px;
}